* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat Alternates", sans-serif;

  --size-0: 0.5rem;
  --size-1: 1rem;
  --size-1_5: 1.5rem;
  --size-2: 2rem;
  --size-2_5: 2.5rem;
  --size-3: 3rem;
  --size-3_5: 3.5rem;
  --size-4: 4rem;
  --size-4_5: 4.5rem;
  --size-5: 5rem;
  --size-5_5: 5.5rem;
  --size-6: 6rem;
  --size-6_5: 6rem;
  --size-7: 7rem;
  --favorite-size-1: 1.2rem;
  --favorite-size-2: 1.3rem;

  --colors-1: #00032a;
  --colors-2: #143887;
  --colors-3: #d3bac5;
  --colors-4: #d3b;
  --colors-5: #015967;
  --colors-6: #202b2d;
  --colors-7: #0b1320;
  --colors-8: #394d5f;
  --colors-9: #fef9e6;
  --colors-10: #1c8ea4;
  --colors-11: #e2dad7;
  --colors-12: #04323a;
  --colors-13: #0432;
  --colors-14: #515561;
  --colors-15: #515;
  --colors-14: #0a2342;
  --colors-14_5: rgb(19, 34, 73);
  --white_special: aliceblue;
  --colors-15: rgb(1, 63, 9);
}
